
</body>


<body>
    <style>
        .text{
            color: aqua;
            font-size: larger;
            font-style: italic;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>

    <div class="text">
        <h1>Whats up its JPC</h1>

        Your email is here
    
        See if style worked!
    </div>
    
<div>
Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</div>

</body>
