

/* TAGS */

a{
    text-decoration: none;
}




.row{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
}

.sidebar{
    width: 20%;
}
.sidebar li{
    list-style: none;
}

.main-content{
    width: 70%;
}

.text-success{
    font-weight: bold;
    color: green;
}

.text-danger{
    font-weight: bold;
    color: crimson;
}

.text-warning{
    font-weight: bold;
    color: goldenrod;
}
.text-muted{
    color: dimgrey;
}