

/* TAGS */

a{
    text-decoration: none;
}




.row{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
}

.sidebar{
    width: 20%;
}
.sidebar li{
    list-style: none;
}

.main-content{
    width: 70%;
}