{% extends 'base.html' %}
{% block title %} {{book.title}}{% endblock title %}

{% block content%}
<h1>Book: {{book.title}} in the Local Library</h1>

<p><strong>Author: </strong><a href="#">{{book.author}}</a></p>
<p><strong>Summary: </strong>{{book.summary}}</p>
<p><strong>ISBN: </strong>{{book.ISBN}}</p>
<p><strong>Language: </strong>{{book.language}}</p>
<p><strong>Genre: </strong>{% for g in book.genre.all %}{{g.name}}, {% endfor %}</p>

<div class="copies">
    <h3>Copies</h3>
    <hr>
    {% for copy in book.bookinstance_set.all %}
    
    
    {% if copy.status == 'a' %}
    <p>Available</p>
    <p><strong>imprint: </strong>{{copy.imprint}}</p>
    <p><strong>Id: </strong>{{copy.id}}</p>

    {% elif copy.status == 'o' %}
    <p>On loan</p>
    <p><strong>imprint: </strong>{{copy.imprint}}</p>
    <p><strong>Id: </strong>{{copy.id}}</p>
    {% endif %}
    {% endfor %}

</div>



{% endblock content %}